/* Стили страницы */

.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
    background: darkgray;
}

.darkgray {background: darkgray;}
.red {background: red;}
.green {background: green;}

.color:hover {
    background:#8a8a85;
    border-radius: 15px;
    transition:all 0.5s ease;
}

.activeOutput {
    background: green;
}

.mainTable:hover {
    background: rgba(169, 169, 169, 0.4) ;
    transition:all 0.3s ease;
    margin: 0;
}

.backgroundColorMainMenu {
    background-color: rgba(138, 138, 133, 0.24);
}

.container {
    height: 100%;
    display: flex;
    align-items: centermainTable;
}

hr {
    margin-bottom: 0;
}

.welcome {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

/* Стрелки */
.arrows {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #arrow-up {
    width: 0; 
    height: 0; 
    
    border-left: 20px solid transparent;
    border-right: 20px solid transparent; 
    
    border-bottom: 20px solid grey; 
  }
  
  #arrow-down {
    width: 0; 
    height: 0; 
    
    border-left: 20px solid transparent;
    border-right: 20px solid transparent; 
    
    border-top: 20px solid grey; 
  }
  
  #arrow-right, #arrow-zero-right {
    width: 0; 
    height: 0; 
    margin-left: 10px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent; 
    
    border-left: 20px solid grey; 
  }
  
  #arrow-left, #arrow-zero-left {
    width: 0; 
    height: 0;
    margin-left: 5px; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent; 
    
    border-right: 20px solid grey; 
  }
  
  #arrow-up:hover {
    border-bottom: 20px solid rgb(131, 235, 131);
  }
  
  #arrow-down:hover {
    border-top: 20px solid rgb(131, 235, 131);
  }
  
  #arrow-left:hover, #arrow-zero-left:hover {
    border-right: 20px solid rgb(131, 235, 131);
  }
  
  #arrow-right:hover, #arrow-zero-right:hover {
    border-left: 20px solid rgb(131, 235, 131);
  }