.headerlanding, .leftParameters, .topParameters {
    background-color: #bdcfcf;
}
header {
  
      
}

.headerlanding {
    
    
}

.leftParameters {
    list-style: none;
}

.topParameters {
    height: 90px;
        
}

.btn-group{
    font-size: 20px;
    margin: 25px 40px;
    
}

.list-group-item {border:none}