<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ELSYMA-MK01</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

<!--Начало navbar-->
<div class=" ">
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg topmenu col-md-auto " style="background-color: #e3f2fd"> 
        <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link color" href="index.html">Главная <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link color" href="analog inputs.html">Аналоговые входы и выходы <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link color" href="discrete inputs.html">Дискретные входы и выходы <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>   
</div>
<!--Конец navbar-->
<!--Начало таблицы входов и выходов-->
<div class="container-fluid">
    <div class="row">
        <table id="data" class="table table-hover" style="text-align: center;" >
            <thead class="thead-inverse backgroundColorMainMenu ">
                <tr>
                    <th scope="col" colspan="12">Входы</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <template v-for="(val, index) in adcValues">
                        <th scope="col">{{ index }}</th> 
                    </template>
                </tr>
                <tr>
                    <!--Состояние АЦП: работает/не работает-->
                    <template v-for="stat in adcStatus">
                        <td>
                            <div v-if="stat === '0'">
                                <div class="circle green"></div>
                            </div>
                            <div v-else>
                                <div class="circle red"></div>
                            </div>
                        </td>
                    </template>
                </tr>
                <!--Начало временный кусок показания ради-->
                <tr>
                    <template v-for="(val, index) in adcValues">
                            <th scope="col">Состояние</th> 
                    </template>
                </tr>
                <!--Конец временный кусок показания ради-->
                
                <tr>
                    <template v-for="val in adcValues">
                        <td scope="col">{{ val }} В</td> 
                    </template>
                </tr>
            </tbody>
        </table>
            
        <table class="table table-hover" style="text-align: center;">
            <thead class="thead-inverse backgroundColorMainMenu ">
                <tr>
                    <th scope="col" colspan="12">Выходы</th>
                </tr>
            </thead>    
            <tbody>
                <tr>
                    <th scope="col">0</th>
                    <th scope="col">1</th>
                </tr>
            
            <tbody>
                <tr>
                    <td>
                        <div id="app5">
                            <div
                                class="circle" 
                                @click="isActive = !isActive"
                                :class="getCssClasses"
                            ></div>
                        </div>
                    </td>
                    <td>
                        <div id="app6">
                            <div
                                class="circle" 
                                @click="isActive = !isActive"
                                :class="getCssClasses"
                            ></div>
                        </div>
                    </td>
                    <tr>
                            <th scope="col">Состояние</th>
                            <th scope="col">Состояние</th>
                        </tr>
                </tr>
                <tr>
                    <td>234</td>
                    <td>74</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>          
 <!--Конец таблицы входов и выходов-->  

<script src="lib/sjcl/sjcl.js"></script>
<script src="js/main.js"></script>
    
<script src="lib/jquery/jquery-3.3.1.slim.min.js"></script>
<script src="lib/popper/popper.min.js"></script>
<script src="bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    
<script src="dist/vue.js"></script>
<script src="js/Sergeyvue.js"></script>
<script src="js/dataControl.js"></script>
    
</body>
</html>
