<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ELSYMA-MK01</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

<!--Начало navbar-->
<div class=" ">
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg col-md-auto " style="background-color: #e3f2fd"> 
        <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link color" href="index.html" style="padding: 10px 20px">Главная <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link color" href="analog inputs.html" style="padding: 10px 20px">Аналоговые входы и выходы <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link color" href="discrete inputs.html" style="padding: 10px 20px">Дискретные входы и выходы <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>   
</div>
<!--Конец navbar-->
<!--Начало таблицы входов и выходов-->
<div class="container-fluid">
    <div class="row">
        <table id="data" class="table table-striped table table-hover col-xl-8 col-lg-8 col-md-8 col-sm-8 col-md-auto" style="text-align: center; " >
            <thead>
                <tr>
                    <th scope="col" colspan="4">Входы АЦП</th>
                </tr>
                <tr>
                    <template v-for="(val, index) in adcValues">
                            <th scope="col">ADC-{{ index }}</th> 
                    </template>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <!--Состояние АЦП: работает/не работает-->
                    <template v-for="stat in adcStatus">
                        <td>
                            <div v-if="stat === '0'">
                                <div class="circle green"></div>
                            </div>
                            <div v-else>
                                <div class="circle red"></div>
                            </div>
                         </td>
                    </template>
                </tr>
                <tr>
                    <template v-for="val in adcValues">
                        <td scope="col">{{ val }}</td> 
                    </template>
                </tr>
            </tbody>
        </table>
            
        <table class="table table-striped table table-hover col-xl-4 col-lg-4 col-md-4 col-sm-4 col-md-auto " style="text-align: center;">
            <thead>
                <tr>
                    <th scope="col" colspan="4">Выходы АЦП</th>
                </tr>
            </thead>    
            <thead>
                <tr>
                    <th scope="col">ADC-0</th>
                    <th scope="col">ADC-1</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div id="app5">
                            <div
                                class="circle" 
                                @click="isActive = !isActive"
                                :class="getCssClasses"
                            ></div>
                        </div>
                    </td>
                    <td>
                        <div id="app6">
                            <div
                                class="circle" 
                                @click="isActive = !isActive"
                                :class="getCssClasses"
                            ></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>234</td>
                    <td>74</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>          
 <!--Конец таблицы входов и выходов-->  
          

<!--
<div id="modal-auth" v-show="showModal">
    <div class="modal-mask">
        <div class="modal-wrapper">
            <div class="modal-table">
                <div class="modal-row">
                    <p class="welcome">Войти в систему</p>
                    <hr>
                </div>
                <div class="modal-row">
                    Введите имя пользователя:
                </div>
                <div class="modal-row">
                    <input type="text" name="username" placeholder="Введите имя пользователя">
                </div>
                <empty-error v-if="this.emptyField"></empty-error>
                <warning-error v-if="this.errorData"></warning-error>
                <div class="modal-row">
                    Введите пароль:
                </div>
                <div class="modal-row">
                    <input type="password" name="password" placeholder="Введите пароль">
                </div>
                <div class="modal-row">
                    <input type="submit" value="Войти" @click="compareHashesJSON">
                </div>
            </div>
        </div>
    </div>
</div>
-->


<script src="lib/sjcl/sjcl.js"></script>
<script src="js/main.js"></script>
    
<script src="lib/jquery/jquery-3.3.1.slim.min.js"></script>
<script src="lib/popper/popper.min.js"></script>
<script src="bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>        
<script src="vue-dev/dist/vue.js"></script>
<script src="js/Sergeyvue.js"></script>
<script src="js/dataControl.js"></script>
    
</body>
</html>
