<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ELSYMA-MK01</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

<script src="vue-dev/dist/vue.js"></script>
<script src="js/Sergeyvue.js"></script>

<div class=" ">
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg topmenu col-md-auto " style="background-color: #e3f2fd"> 
        <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Главная <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="analog inputs.html">Аналоговые входы и выходы <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                        <a class="nav-link" href="discrete inputs.html">Дискретные входы и выходы <span class="sr-only">(current)</span></a>
                </li>
            </ul> 
        </div>
    </nav>   
</div>

<div class="container-fluid ">
    <h2 class="text-center">ЦАП выходы </h2>
    <div class="row py-4" style="text-align: center;"  >
        <div class="col">
            <p>DAC-0</p>
            <div id="app5">
                <div
                    class="circle" 
                    @click="isActive = !isActive"
                    :class="getCssClasses"
                ></div>
            </div>
        </div>
        <div class="col">
            <p>DAC-1</p>
            <div id="app5">
                <div
                    class="circle" 
                    @click="isActive = !isActive"
                    :class="getCssClasses"
                ></div>
            </div>
        </div>
        <div class="col">
            <p>DAC-2</p>
            <div id="app5">
                <div
                    class="circle" 
                    @click="isActive = !isActive"
                    :class="getCssClasses"
                ></div>
            </div>
        </div>
        <div class="col">
            <p>DAC-3</p>
            <div id="app5">
                <div
                    class="circle" 
                    @click="isActive = !isActive"
                    :class="getCssClasses"
                ></div>
            </div>
        </div>
        <div class="col">
            <p>DAC-4</p>
            <div id="app5">
                <div
                    class="circle" 
                    @click="isActive = !isActive"
                    :class="getCssClasses"
                ></div>
            </div>
        </div>
        <div class="col">
            <p>DAC-5</p>
            <div id="app5">
                <div
                    class="circle" 
                    @click="isActive = !isActive"
                    :class="getCssClasses"
                ></div>
            </div>
        </div>
    </div>
</div> 
    
<div class="container-fluid ">
    <h2 class="text-center">ЦАП входы </h2>
    <div class="row py-4" style="text-align: center;"  >
        <div class="col">
            <p>DAC-0</p>
            <div id="app5">
                <div
                    class="circle" 
                    @click="isActive = !isActive"
                    :class="getCssClasses"
                ></div>
            </div>
        </div>
        <div class="col">
            <p>DAC-1</p>
            <div id="app5">
                <div
                    class="circle" 
                    @click="isActive = !isActive"
                    :class="getCssClasses"
                ></div>
            </div>
        </div>
        <div class="col">
            <p>DAC-2</p>
            <div id="app5">
                <div
                    class="circle" 
                    @click="isActive = !isActive"
                    :class="getCssClasses"
                ></div>
            </div>
        </div>
        <div class="col">
            <p>DAC-3</p>
            <div id="app5">
                <div
                    class="circle" 
                    @click="isActive = !isActive"
                    :class="getCssClasses"
                ></div>
            </div>
        </div>
        <div class="col">
            <p>DAC-4</p>
            <div id="app5">
                <div
                    class="circle" 
                    @click="isActive = !isActive"
                    :class="getCssClasses"
                ></div>
            </div>
        </div>
        <div class="col">
            <p>DAC-5</p>
            <div id="app5">
                <div
                    class="circle" 
                    @click="isActive = !isActive"
                    :class="getCssClasses"
                ></div>
            </div>
        </div>
        <div class="col">
            <p>DAC-6</p>
            <div id="app5">
                <div
                    class="circle" 
                    @click="isActive = !isActive"
                    :class="getCssClasses"
                ></div>
            </div>
        </div>
        <div class="col">
            <p>DAC-7</p>
            <div id="app5">
                <div
                    class="circle" 
                    @click="isActive = !isActive"
                    :class="getCssClasses"
                ></div>
            </div>
        </div>
        <div class="col">
            <p>DAC-8</p>
            <div id="app5">
                <div
                    class="circle" 
                    @click="isActive = !isActive"
                    :class="getCssClasses"
                ></div>
            </div>
        </div>
        <div class="col">
            <p>DAC-9</p>
            <div id="app5">
                <div
                    class="circle" 
                    @click="isActive = !isActive"
                    :class="getCssClasses"
                ></div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid ">
    <div class="row py-4" style="text-align: center;"  >
        <div class="col">
            <p>DAC-10</p>
            <div id="app5">
                <div
                    class="circle" 
                    @click="isActive = !isActive"
                    :class="getCssClasses"
                ></div>
            </div>
        </div>
        <div class="col">
            <p>DAC-11</p>
            <div id="app5">
                <div
                    class="circle" 
                    @click="isActive = !isActive"
                    :class="getCssClasses"
                ></div>
            </div>
        </div>
        <div class="col">
            <p>DAC-12</p>
            <div id="app5">
                <div
                    class="circle" 
                    @click="isActive = !isActive"
                    :class="getCssClasses"
                ></div>
            </div>
        </div>
        <div class="col">
            <p>DAC-13</p>
            <div id="app5">
                <div
                    class="circle" 
                    @click="isActive = !isActive"
                    :class="getCssClasses"
                ></div>
            </div>
        </div>
        <div class="col">
            <p>DAC-14</p>
            <div id="app5">
                <div
                    class="circle" 
                    @click="isActive = !isActive"
                    :class="getCssClasses"
                ></div>
            </div>
        </div>
        <div class="col">
            <p>DAC-15</p>
            <div id="app5">
                <div
                    class="circle" 
                    @click="isActive = !isActive"
                    :class="getCssClasses"
                ></div>
            </div>
        </div>
        <div class="col">
            <p>DAC-16</p>
            <div id="app5">
                <div
                    class="circle" 
                    @click="isActive = !isActive"
                    :class="getCssClasses"
                ></div>
            </div>
        </div>
        <div class="col">
            <p>DAC-18</p>
            <div id="app5">
                <div
                    class="circle" 
                    @click="isActive = !isActive"
                    :class="getCssClasses"
                ></div>
            </div>
        </div>
        <div class="col">
            <p>DAC-18</p>
            <div id="app5">
                <div
                    class="circle" 
                    @click="isActive = !isActive"
                    :class="getCssClasses"
                ></div>
            </div>
        </div>
        <div class="col">
            <p>DAC-19</p>
            <div id="app5">
                <div
                    class="circle" 
                    @click="isActive = !isActive"
                    :class="getCssClasses"
                ></div>
            </div>
        </div>
    </div>
</div>
            
       

<!--
<div id="modal-auth" v-show="showModal">
    <div class="modal-mask">
        <div class="modal-wrapper">
            <div class="modal-table">
                <div class="modal-row">
                    <p class="welcome">Войти в систему</p>
                    <hr>
                </div>
                <div class="modal-row">
                    Введите имя пользователя:
                </div>
                <div class="modal-row">
                    <input type="text" name="username" placeholder="Введите имя пользователя">
                </div>
                <empty-error v-if="this.emptyField"></empty-error>
                <warning-error v-if="this.errorData"></warning-error>
                <div class="modal-row">
                    Введите пароль:
                </div>
                <div class="modal-row">
                    <input type="password" name="password" placeholder="Введите пароль">
                </div>
                <div class="modal-row">
                    <input type="submit" value="Войти" @click="compareHashesJSON">
                </div>
            </div>
        </div>
    </div>
</div>
-->


<script src="lib/sjcl/sjcl.js"></script>
<script src="js/main.js"></script>
    
    <script src="lib/jquery/jquery-3.3.1.slim.min.js"></script>
    <script src="lib/popper/popper.min.js"></script>
    <script src="bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>        
    <script src="js/Sergeyvue.js"></script>
    
</body>
</html>