<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ELSYMA-MK01</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<!--Начало navbar-->
<div class=" ">
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg col-md-auto " style="background-color: #e3f2fd"> 
        <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link color" href="index.html" style="padding: 10px 20px">Главная <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link color" href="analog inputs.html" style="padding: 10px 20px">Аналоговые входы и выходы <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link color" href="discrete inputs.html" style="padding: 10px 20px">Дискретные входы и выходы <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>   
</div>
<!--Конец navbar-->  
<!--Конец таблицы входов-->
<div class="container-fluid ">
    <div class="row">
        <table id="data" class="table table-hover" style="text-align: center;" >
            <thead class="thead-inverse backgroundColorMainMenu ">
                <tr>
                    <th scope="col" colspan="12">Входы</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <template v-for="(val, index) in dacValues">
                        <th scope="col">{{ index }}</th>
                    </template>
                </tr>
                <tr>
                    <template v-for="(val, index) in dacValues">
                        <td>
                            <div class="col">        
                                <div v-if="val === '0'">
                                    <div class="circle green"></div>
                                </div>
                                <div v-else>
                                    <div class="circle darkgray"></div>
                                </div>
                                <!--Начало временный кусок показания ради-->
                                <p>Состояние</p>
                                <!--Конец временный кусок показания ради-->
                            </div>
                        </td>
                    </template>
                </tr>
            </tbody>
        </table>
    </div>

</div>  
<!--Конец таблицы входов-->
<!--Начало таблицы выходов-->
<div class="container-fluid ">
    <div class="row">
        <table id="output-list" class="table table-hover" style="text-align: center;" >
            <thead class="thead-inverse backgroundColorMainMenu ">
                <tr>
                    <th scope="col" colspan="12">Выходы</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <template v-for="(item, index) in dacItems">
                        <th scope="col">{{ index }}</th>
                    </template>
                </tr>
                <tr>
                    <template v-for="(item, index) in dacItems">
                        <td>
                            <div class="col">        
                                <div
                                    class="circle" 
                                    @click="togglePurchased(item)"
                                    :class="{activeOutput: item.isActive}"
                                ></div>
                                <p>{{ item.state }}</p>
                            </div>
                        </td>
                    </template>
                </tr>
            </tbody>
        </table>
    </div>
</div> 
<!--Конец таблицы выходов-->

<script src="lib/sjcl/sjcl.js"></script>

<script src="lib/jquery/jquery-3.3.1.slim.min.js"></script>
<script src="lib/popper/popper.min.js"></script>
<script src="bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>

<script src="dist/vue.js"></script>    
<script src="js/btnControl.js"></script>
<script src="js/dataControl.js"></script>
    
</body>
</html>
