<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ELSYMA-MK01</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<!--Начало navbar-->
<div class=" ">
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg col-md-auto " style="background-color: #e3f2fd"> 
        <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link color" href="index.html" style="padding: 10px 20px">Главная <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link color" href="analog inputs.html" style="padding: 10px 20px">Аналоговые входы и выходы <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link color" href="discrete inputs.html" style="padding: 10px 20px">Дискретные входы и выходы <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>   
</div>
<!--Конец navbar-->  
<!--Конец таблицы входов-->
<div class="container-fluid ">
    <div class="row">
            <table id="data" class="table table-hover" style="text-align: center;" >
                <thead class="thead-inverse backgroundColorMainMenu ">
                    <tr>
                        <th scope="col" colspan="12">Входы</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <template v-for="(val, index) in dacValues">
                            <th scope="col">{{ index }}</th>
                        </template>
                    </tr>
                    <tr>
                        <template v-for="(val, index) in dacValues">
                            <td>
                                <div class="col">        
                                    <div v-if="val === '0'">
                                        <div class="circle green"></div>
                                    </div>
                                    <div v-else>
                                        <div class="circle darkgray"></div>
                                    </div>
                                </div>
                            </td>
                        </template>
                    </tr>
                    <!--Начало временный кусок показания ради-->
                    <tr>
                        <template v-for="(val, index) in dacValues">
                            <th scope="col">Состояние</th> 
                        </template>
                    </tr>
                    <!--Конец временный кусок показания ради-->
                </tbody>
            </div>
        </table>
    </div>
</div>  
<!--Конец таблицы входов-->
<!--Начало таблицы выходов-->
<div class="container-fluid ">
    <div class="row">
        <table id="data" class="table table-hover" style="text-align: center;" >
            <thead class="thead-inverse backgroundColorMainMenu ">
                <tr>
                    <th scope="col" colspan="12">Выходы</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div id="app5">
                            <div
                                class="circle" 
                                @click="isActive = !isActive"
                                :class="getCssClasses"
                            ></div>
                        </div>
                    </td>
                    <td>
                        <div id="app6">
                            <div
                                class="circle" 
                                @click="isActive = !isActive"
                                :class="getCssClasses"
                            ></div>
                        </div>
                    </td>
                    <td>
                        <div id="app6">
                            <div
                                class="circle" 
                                @click="isActive = !isActive"
                                :class="getCssClasses"
                            ></div>
                        </div>
                    </td>
                    <td>
                        <div id="app6">
                            <div
                                class="circle" 
                                @click="isActive = !isActive"
                                :class="getCssClasses"
                            ></div>
                        </div>
                    </td>
                    <td>
                        <div id="app6">
                            <div
                                class="circle" 
                                @click="isActive = !isActive"
                                :class="getCssClasses"
                            ></div>
                        </div>
                    </td>
                    <tr>
                        <th scope="col">Состояние</th>
                        <th scope="col">Состояние</th>
                        <th scope="col">Состояние</th>
                        <th scope="col">Состояние</th>
                        <th scope="col">Состояние</th>
                    </tr>
                </tr>
            </tbody>
        </table>
    </div>
</div> 
<!--Конец таблицы выходов-->

<script src="lib/sjcl/sjcl.js"></script>
<script src="js/main.js"></script>

<script src="lib/jquery/jquery-3.3.1.slim.min.js"></script>
<script src="lib/popper/popper.min.js"></script>
<script src="bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>

<script src="dist/vue.js"></script>    
<script src="js/Sergeyvue.js"></script>
<script src="js/dataControl.js"></script>
    
</body>
</html>
